<?xml version="1.0"?>
<launch>
    <arg name="use_ground_truth" default="false" />
    <arg name="velocity" default="64" />

    <!-- Use Styx Launch -->
    <include file="launch/styx.launch">
        <arg name="use_ground_truth" value="$(arg use_ground_truth)"/>
        <arg name="velocity" value="$(arg velocity)"/>
    </include>

    <!-- visualization -->
    <include file="$(find wolfpack_visualisation)/launch/visualisation_rqt.launch" />

</launch>
